<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 NOT FOUND</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        h1{
            color: #d43f3a;
            font-size: 50px;
            margin-left: 100px;
        }
        p{
            font-size: 40px;
            margin-left: 100px;
            color: #00a600;
        }
    </style>
</head>
<body>
<h1>404 NOT FOUND</h1>
<p>你在干撒呢，弟弟!怎么到这里来了??????????????????????????????</p>
</body>
</html>